# Database
DATABASE_URL="postgresql://postgres:docker@localhost:5433/waste-control-api?schema=public"

# Server Port
PORT=3000

# Auth JWT Keys (Base64 or RSA Key Strings)
JWT_PRIVATE_KEY="YOUR_JWT_PRIVATE_KEY"
JWT_PUBLIC_KEY="YOUR_JWT_PUBLIC_KEY"
